extends layout
block specific_css
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js")
  script(src="/javascripts/login.js")

block content
  form.form-signin#registerForm(method="POST", action="/register")
    h2.form-signin-heading Register
    label.sr-only(for="registerGivenName") Given name
    input.form-control#registerGivenName(type="text", placeholder="Given name", name="given_name", autofocus)
    label.sr-only(for="registerFamilyName") Family name
    input.form-control#registerFamilyName(type="text", placeholder="Family name", name="family_name", autofocus)
    label.sr-only(for="registerEmail") Email address
    input.form-control#registerEmail(type="email", placeholder="Email address", name="email", autofocus)
    label.sr-only(for="password") Password
    input.form-control#password(type="password", placeholder="Password", name="password")
    label.sr-only(for="registerPasswordRepeat") Repeat password
    input.form-control#registerPasswordRepeat(type="password", placeholder="Repeat password", name="passConfirm")
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Submit